* {
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
  }
  
  header {
    background-color: #565656;
    width: 100%;
  }
  
  header nav {
    padding: 1rem;
    display: flex;
    align-items: center; 
    background-color: #565656;
  }

  header nav ul li {
    margin: 40px
  }
  

  main,
  header nav {
    margin: 0 auto;
    width: 960px;
  }
  
  main {
  margin-top: 30px;
  margin-bottom: 30px;
}

  header ul {
    margin-left: 1rem;
  }
  
  header ul li {
    display: inline-block;
  }
  
  header ul li a {
    padding: .5rem;
    background-color: #565656;
    color: lightgray;
    text-decoration: none;
    transition:letter-spacing 0.3s ;
  }

  header ul li a:hover {
    letter-spacing: 15px
  }
  
  main article {
    float: right;
    width: 480px;
    padding-left: 30px;

  }
  
  main article section {
    overflow: scroll;
    overflow-x: hidden;
    height: 300px;
    margin-bottom: 40px;
  }

  footer {
    background-color: #565656;
    padding: 3rem;
  }

  main > section {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  body > main > article > a {
    border: 15px solid black;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: letter-spacing 0.3s;
  }

  body > main > article > a:hover {
    letter-spacing: 15px;
  }